<!-- main-swiper-section start here -->

<!-- Slider main container -->
<div class="first-sec">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img src="../../assets/images/MGIMAGES/MC4.jpeg" style="opacity: 0.7;"></div>
            <div class="swiper-slide"><img src="../../assests/images/MGIMAGES/MC2.jpeg" style="opacity: 0.7;"></div>
            <div class="swiper-slide"><img src="../../assets/images/MGIMAGES/MC3.jpeg" style="opacity: 0.7;"></div>
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->
    </div>

    <!-- search section start here -->
    <div class="container search-section">
        <div class="row input-sections">
            <div class="col-lg-2">
                <label>Looking For</label>
                <select class="form-select form-select-sm" aria-label="Small select example">
                    <option selected>Bride</option>
                    <option value="1">Groom</option>
                    <!-- <option value="2">Two</option>
                <option value="3">Three</option> -->
                </select>
            </div>
            <div class="col-lg-2">
                <label>Age</label>
                <select class="form-select form-select-sm" aria-label="Small select example">
                    <option selected>18 Years</option>
                    <option>19 Years</option>
                    <option>20 Years</option>
                    <option>21 Years</option>
                    <option>22 Years</option>
                    <option>23 Years</option>
                    <option>24 Years</option>
                    <option>25 Years</option>
                </select>
            </div>
            <div class="col-lg-1">

                <p>To</p>
            </div>
            <div class="col-lg-2">
                <label></label>
                <select class="form-select form-select-sm" aria-label="Small select example">
                    <option selected>18 Years</option>

                    <option>19 Years</option>
                    <option>20 Years</option>
                    <option>21 Years</option>
                    <option>22 Years</option>
                    <option>23 Years</option>
                    <option>24 Years</option>
                    <option>25 Years</option>
                </select>
            </div>
            <div class="col-lg-2">
                <label>Religion</label>
                <select class="form-select form-select-sm" aria-label="Small select example">
                    <option selected>Buddhist</option>
                    <option value="1">Cristian</option>
                    <option value="2">Hindu</option>
                    <option value="3">jewish</option>
                </select>
            </div>
            <div class="col-lg-2">
                <label>Caste</label>
                <select class="form-select form-select-sm" aria-label="Small select example">
                    <option selected>Caste</option>
                    <option value="1">Munnurukapu</option>
                    <option value="2">Reddy</option>
                    <option value="3">Nayudus</option>
                </select>
            </div>
            <div class="col-lg-1 search-button">
                <button>
                    <!-- <span class="material-symbols-outlined">
            search
            </span> -->
                    Search</button>
            </div>

        </div>

    </div>

    <!-- search section end here -->
</div>
<!-- main-swiper-section end here -->

<!-- second section start here -->
<div class="container-fluid">
    <div class="second-section row">
        <div class="col-lg-6 main-head">

            <h1>why choose marriage call</h1>
            <div class="point-1">
                <div class="img-box">
                    <img src="../../assets/images/animated-logos/logo-2.png">
                </div>
                <div>
                    <h4>Get Complete Family Information</h4>
                    <p>You will find detailed family information in every profile. Knowing the family will help you
                        take the next step with confidence.</p>
                </div>

            </div>
            <div class="point-2">
                <div class="img-box">
                    <img src="../../assets/images/animated-logos/logo-5.jpeg">
                </div>
                <div>
                    <h4>Enable your search without any barrier</h4>
                    <p>Embark on your journey to find your perfect match now available in multiple languages.</p>
                </div>
            </div>
            <div class="point-3">
                <div class="img-box">
                    <img src="../../assets/images/animated-logos/logo-4.png">
                </div>
                <div>
                    <h4>Get Matches from your Community</h4>
                    <p>With over 80 community sites, you can find a Match from your community. Finding a Match based
                        on caste and religion made easy.</p>
                </div>
            </div>
            <div></div>

        </div>
        <div class="col-lg-6 photo-section">
            <div class="img-box">
                <img src="../../assets/images/MGIMAGES/Slide1-removebg-preview (1).png">
            </div>

        </div>

    </div>

</div>

<!-- second section end here -->

<!-- third section start here -->
<div class="row Featured-Brides">
    <div class="col-lg-4 left-section">
        <div class="img-box">
            <img src="../../assets/images/bg-images/bg-image-2-removebg-preview.png">
        </div>
        <div class="img-box-text">
            <h3>Featured Brides</h3>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="swiper mySwiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide ">
                    <div class="col-lg-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/images/MGIMAGES/bribe-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Bride Name</h5>
                                <p class="card-text">Some details of bride</p>
                                <a href="#" class=""><button class="view-btn">View Profile</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-lg-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/images/MGIMAGES/bribe-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Bride Name</h5>
                                <p class="card-text">Some details of bride</p>
                                <a href="#" class=""><button class="view-btn">View Profile</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-lg-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/images/MGIMAGES/bribe-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Bride Name</h5>
                                <p class="card-text">Some details of bride</p>
                                <a href="#" class=""><button class="view-btn">View Profile</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-lg-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/images/MGIMAGES/bribe-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Bride Name</h5>
                                <p class="card-text">Some details of bride</p>
                                <a href="#" class=""><button class="view-btn">View Profile</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-lg-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/images/MGIMAGES/bribe-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Bride Name</h5>
                                <p class="card-text">Some details of bride</p>
                                <a href="#" class=""><button class="view-btn">View Profile</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-lg-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/images/MGIMAGES/bribe-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Bride Name</h5>
                                <p class="card-text">Some details of bride</p>
                                <a href="#" class=""><button class="view-btn">View Profile</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-lg-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/images/MGIMAGES/bribe-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Bride Name</h5>
                                <p class="card-text">Some details of bride</p>
                                <a href="#" class=""><button class="view-btn">View Profile</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-lg-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/images/MGIMAGES/bribe-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Bride Name</h5>
                                <p class="card-text">Some details of bride</p>
                                <a href="#" class=""><button class="view-btn">View Profile</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-lg-12">
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/images/MGIMAGES/bribe-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Bride Name</h5>
                                <p class="card-text">Some details of bride</p>
                                <a href="#" class=""><button class="view-btn">View Profile</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="swiper-pagination"></div> -->
        </div>
        <!-- If we need navigation buttons -->
        <!-- <div class="mySwiper1"></div> -->
    </div>

</div>
<!-- third section end here -->