     <!-- footer section start here -->

     <div class="footer">
        <div class="row">
            <div class="col-lg-4 options-sec">
                <h4>Help & supoort</h4>
                <ul>
                    <li>Contact us</li>
                    <li>FAQ</li>
                    <li>Refund Policy</li>
                    <!-- <li></li>
                    <li></li> -->
                </ul>
            </div>
            <div class="col-lg-4 options-sec">
                <h4>Terms & Policy</h4>
                <ul>
                    <li>Terms & Conditions</li>
                    <li>privacy policy</li>
                    <li>report misuse</li>
                    <!-- <li></li>
                    <li></li> -->
                </ul>
    
            </div>
            <div class="col-lg-4 options-sec">
                <h4>Need help?</h4>
                <ul>
                    <li>Login</li>
                    <li>Register</li>
                    <!-- <li></li>
                    <li></li>
                    <li></li> -->
                </ul>
    
            </div>
    
        </div>
       
        <div class="footer-end">
            <p>All Rights Reserved By @ Design and developed by Marriage call</p>
        </div>
    </div>
    
    
           <!-- footer section end here -->