/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --main-color: #e32591;
    --secondary-color: #fdb813;
    --green:#499202;
    /* --green:rgba(28, 170, 28, 0.849); */
   
  }




body {
    font-family: "poppins", sans-serif;
    overflow-X: hidden;
    padding: 0;
    margin: 0;
}

.navbar{
 
  box-shadow: 1px 0px 5px 2px black  !important;
  /* background-color: var(--green) !important; */
}

.active-nav{
   /* background-color: rgb(187, 44, 44); */
   color:var(--main-color) !important;
   border-radius: 10px;
   
}
.active-sub-nav1{
   color: red;
 }
.active-sub-nav{
  /* border: 2px solid red; */
  color: rgba(218, 19, 19, 0.897) !important;
  /* width: fit-content;
  padding: 1px 10px;
  border-radius: 10px; */
}
.navbar-brand{
   /* background-color: rgb(0, 0, 0); */
border-radius: 10px;
   width: 200px;
   align-items: center;
   text-align: center;
   margin-left: -50px;
}
.nav-link {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.925); 
    position: relative;
    padding: 5px 0px;
}
.nav-item{
    position: relative;
    align-items: center;
}
.nav-item .nav-link {
    vertical-align: center;
    align-items: center;
}
.nav-item .nav-link span{
    font-size: 17px;
    font-weight: 800;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
  
}

.nav-item::after{
content:"";
background-color: var(--secondary-color) ;
position: absolute;
top: 90%;
left: 10%;
width: 0%;
height: 0px;
transition:all 0.3s ease-in-out;
}
.nav-item:hover.nav-item::after{
    width: 70%;
    height: 02px;
    transition:all 0.3s ease-in-out;
}

.bg-color {
    background-color: white;
    transition: all 0.5s ease-in-out;
}

/* swiper-1 */

.first-sec{
    position: relative;
}

.swiper {
    width: 100%;
    height: 550px;
    margin-top: 74px;
  }
  .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* opacity: 0.7; */
   
    
  }
  .search-section{
    position: absolute;
    background-color: rgba(248, 244, 244, 0.733);
    top: 50%;
    left: 0;
    z-index: 1;
    margin: 0px 0px 100px 100px;
    border-radius: 10px;
    height: 80px;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.062);
  }
  .search-section .input-sections label{
color:var(--green);
font-size: 14px;
font-weight: 600;
  }

  .search-section .input-sections  select{
    background-color: rgba(255, 255, 255, 0.315);
    border: 2px solid var(--green);
    color: black;
  }

  .search-section .input-sections p{
    color:var(--green);
    font-size: 14px;
    font-weight: 600;
    padding-top: 28px;
    padding-left: 20px;
      }


.search-section .input-sections .search-button button{
font-size: 15px;
font-weight: 500;
background-color: var(--green);
width: fit-content;
height: fit-content;
margin-top: 23px;
align-items: center;
border-radius: 5px;
padding: 4px 10px;
border: none;
color: white;
}
.second-section{
    padding: 10px;
    margin-top: 30px;
    text-align: left;
    margin-left: 20px;
    /* background-image: url(../images/bg-images/bg-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: -50px -150px;
    background-attachment: fixed; */
    /* opacity: 0.6; */

}
.second-section .main-head h1{
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 33px;
  font-family: var(--bs-font-sans-serif);
  padding: 0px 10px;
  text-align: center;
}
.second-section .main-head h4{
    padding: 0px 10px;
    font-weight: 500;
    font-size: 20px;
  
}
.second-section .main-head p{
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.603);
}
.second-section .main-head .point-1,.point-2,.point-3{
    display: flex;
    margin-top: 20px;
}
.second-section .main-head .point-1 .img-box{
    width: 180px;
    height: 85px;
}
.second-section .main-head .point-1 .img-box img{
    width: 100%;
    height: 100%;
}
.second-section .main-head .point-2 .img-box{
    width: 180px;
    height: 85px;
      margin-left: -40px;
}
.second-section .main-head .point-2 .img-box img{
    width: 100%;
    height: 100%;
    padding: 15px;
}
.second-section .main-head .point-3 .img-box{
    width: 180px;
    height: 85px;
}
.second-section .main-head .point-3 .img-box img{
    width: 100%;
    height: 100%;
}
.photo-section .img-box{
    display: flex;
    width: 100%;
    height: 100%;
}
.photo-section .img-box img:nth-child(1){
    width: 85%;
    height: 85%;
 transform: rotate(20deg);
 margin-top: 20px;

}

.Featured-Brides .left-section .img-box{
width: 100%;
height: 65%;
}
.Featured-Brides .left-section .img-box img{
  width: 150%;
  height: 100%;
  transform: rotate(10deg);
  animation:zoominout  10s  1s infinite;
  /* margin-top: 70px; */
  }
  .Featured-Brides .left-section .img-box-text{
    text-align: center;
    color: var(--main-color);
    
  }


  @keyframes zoominout{
    0%{
      transform: scale(1);
    }
    10%{
      transform: scale(1.1);
    }
    20%{
      transform: scale(1);
    }
    30%{
      transform: scale(1.1);
    }
    40%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.1);
    }
   60%{
      transform: scale(1);
    }
    70%{
      transform: scale(1.1);
    }
    80%{
      transform: scale(1);
    }
   90%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }

  }

.mySwiper1 {
  width: 100%;
  height: 500px;
  /* margin-top: 74px; */
}
.mySwiper1 .swiper-slide .card img{
  /* border: 2px solid red; */
  width: 100%;
  height: 250px;
}
.mySwiper1 .swiper-slide .card .card-body{
  text-align: center;
}

.mySwiper1 .swiper-slide .card .card-body .card-title{
color: var(--green);
}
/* .mySwiper1 .swiper-slide .card .card-body .card-text {
  
  } */
  .mySwiper1 .swiper-slide .card .card-body .view-btn{
    background-color:var(--green);
    /* border: 2px solid var(--green); */
    border-radius: 10px;
    color: white;
    font-weight:400;
    border: none;
    padding: 2px 10px;


  }

  .footer{
    border-top: 2px solid var(--main-color);
   /* background-color: rgba(0, 0, 0, 0.164); */
    height: fit-content;
    /* padding-bottom: 50px; */
  }
  .footer .options-sec{
    padding-left: 50px;
    margin-top: 20px;
    text-align: left;
  }
  .footer h4{
    color: var(--main-color);
    font-size: 18px;
    /* margin-left: 0px; */
  }
  .footer .options-sec ul li{
    list-style: none;
    margin-left: -32px;
    margin-top: 10px;
    text-transform: capitalize;
  }
  .footer-end{
    text-align: center;
    background-color: var(--green);
    color: white;
    /* padding-top: 5px;
    padding-bottom: 5px; */
    align-items: center;
  }

  .tabs-section{
    margin-top: 90px;
  }
  .tabs-section .tabs{
    margin-left: 40px;
    margin-bottom: 80px;
    margin-top: 50px;
  }
  /* Style tab links */
.tablink {
  background-color: var(--secondary-color);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 10px 10px 1px 1px;
  /* margin-right: 3px; */
  font-size: 14px;
  width: fit-content;
  margin-left: 5px;
  font-weight: 500;
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.644) inset;

}

.tablink:hover {
  background-color: #777;
}
.tab-active{
 border-top: 5px solid var(--secondary-color);
 background-color: white !important;
 color: black !important;
 border-left: 1px solid rgba(0, 0, 0, 0.253);
 border-right: 1px solid rgba(0, 0, 0, 0.253);
}
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 10px;
  margin-top: 44px;
  /* margin-bottom: 100px; */
}
.search-by-id{
  margin-top: 90px;
}
.search-by-id .card {
  border-top: 5px solid var(--secondary-color);
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(241, 234, 234, 0.541);
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.062);
}
.search-by-id .card .card-header{
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
}
.search-by-id .card .card-body label{
  margin-top: 7px;
  font-size: 14px;
  font-weight: 500;
}
.search-by-id .card .card-body select{
  background-color: rgba(255, 255, 255, 0.315);
  /* border: 2px solid var(--green); */
  color: black;
}
.search-by-id .card .card-body input{
  background-color: rgba(255, 255, 255, 0.315);
  /* border: 2px solid var(--green); */
  color: black;
}
.search-by-id .card .card-body .search-button{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
 }

.search-by-id .card .card-body .search-button button{
  background-color: var(--green);
border: none;
color: white;
padding: 10px 10px;
border-radius: 5px;
font-size: 13px;
font-weight: 600;
}


#Quick-Search .search-inputs-section{
  display: flex;
  margin-top: 15px;
}
#Quick-Search  h1{
 color: var(--secondary-color);
 text-align: center; 
 margin-top: -50px;
 margin-bottom: 20px;
 font-size: 24px;
 font-weight: 500;
}

#Quick-Search .search-inputs-section label{
 width: 30%;
 font-size: 14px;
 font-weight: 600;
 padding-left: 20px;
 /* padding: 10px; */
 /* margin-top: 10px; */
}
#Quick-Search .search-inputs-section select{
  width: 50%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.315);
  /* border: 2px solid var(--green); */
  color: black;
  /* margin-top: 10px; */
  /* margin-top: 10px; */
 }
 .age-select{
  width: 22.5% !important;
 }
 #Quick-Search .search-inputs-section p{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
 }
 #Quick-Search .search-button{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
 }
 #Quick-Search .search-button button{
background-color: var(--green);
border: none;
color: white;
padding: 10px 10px;
border-radius: 5px;
font-size: 13px;
font-weight: 600;

 }